.main-container {
    display: flex;
    width: 100%;
    height: 576px;
    background-color: azure;
    color: aliceblue;
}

div {
    margin: 5px;
}

.left,
.right {
    display: flex;
    flex: 2;
    flex-direction: column;
}

.left1 {
    display: flex;
    flex: 1;
}

.item1 {
    flex: 2;
    background-color: rgb(176, 54, 49);
}

.item2 {
    flex: 1;
    background-color: rgb(51, 168, 165);
}

.item3 {
    flex: 1;
    background-color: rgb(49, 154, 123);
    margin-left: 0;
}

.item4 {
    flex: 2;
    background-color: rgb(107, 72, 143);
}

.item5 {
    flex: 1;
    background-color: rgb(219, 112, 43);
    margin-right: 0;
}